################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecureResource/.vs/SecureResource/v17
/SecureResource/.vs/SecureResource
/SecureResource/Movies.Api/bin/Debug/net6.0
/SecureResource/Movies.Api/obj
/SecureResource/IdentityServer/bin/Debug/net6.0
/SecureResource/IdentityServer/obj
/SecureResource/Movies.Client/bin/Debug/net6.0
/SecureResource/Movies.Client/obj
